.destItem {
  list-style-type: none;
  width: 235px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.destImg {
  width: 235px;
  height: 175px;
}
.name {
  color: black;
  font-family: roboto;
  font-size: 16px;
}
/* Write your CSS here */

.place-image {
  width: 300px;
}

.place-name {
  color: #252627;
  font-family: 'Roboto';
}

.place-card {
  margin: 10px;
}
